

.container1 {
    position: relative;

    max-width: 350px;
    max-height: 1000px;
    padding: 20px;
    background-color: white;
    border-radius: 10px;
    margin-top: 80px;

   
  }
  h1{
      font-family:"'Encode Sans SC', sans-serif";
      font-size: 30px;
  }
  .input-icons i {
    position: absolute;
    
}
  
.icon {
    padding:10px;
    margin-right: 10px;
    font-size:20px;
    min-width: 50px;
}
.input1{
    border-radius: 8px;
    background-color: rgb(247, 246, 243);
    padding-left:40px;
       
}
.btn1{
    border-radius: 50px;
}

.company{
   
    
  padding-left: 90px;
  padding-right: 5px;
  padding-bottom: 50px;


 
}
.bold{
    color: rgb(4, 174, 241);
    font-size:50px;
}
.bold2{
    color: white;
    font-size:50px;
}
footer {
    text-align: center;
    padding: 3px;
    background-color: rgb(4, 31, 70);
    color: white;
   
  }
  .company2{
      margin-top: 180px;
  }
  .btn{
      background-color: rgb(3, 192, 250);
      color: white;
  }
  .a1{
      display: block;
     margin-left: 110px;
    margin-top: 8px;
  }
  .a2{
    display: block;
   margin-left: 60px;
  margin-top: 8px;
}
.login{
    margin-left: 80px;
}
